<a href="https://colab.research.google.com/github/nithin24011/Nithin_INFO5731_Spring2020/blob/main/In_class_exercise_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The second In-class-exercise (1/27/2021, 20 points in total)**

(1) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
def findDuplicates(arr, Len):
     
    ifPresent = False
    a1 = []
    for i in range(Len - 1):
        for j in range(i + 1, Len):
            if (arr[i] == arr[j]):
                if arr[i] in a1:
                    break
                else:
                    a1.append(arr[i])
                    ifPresent = True
 
    # If duplicates is present
    # then print ArrayList
    if (ifPresent):
        print(a1, end = " ")
    else:
        print("-1")
 
arr = [] 
  
# number of elemetns as input 
n = int(input("Enter number of elements : ")) 
  
# iterating till the range 
for i in range(0, n): 
    ele = int(input()) 
  
  
    arr.append(ele) 
      
 
findDuplicates(arr, n)

Enter number of elements : 3
2
6
9
-1

(2) Write a Python program to select all the Sundays of a specified year. (4 points)

In [ ]:
from datetime import date, timedelta  
  
def all_sundays(year):  
# January 1st of the given year  
       dt = date(year, 1, 1)  
# First Sunday of the given year         
       dt += timedelta(days = 6 - dt.weekday())    
       while dt.year == year:  
          yield dt  
          dt += timedelta(days = 7)  
            
for s in all_sundays(2021):  
   print(s)

2021-01-03
2021-01-10
2021-01-17
2021-01-24
2021-01-31
2021-02-07
2021-02-14
2021-02-21
2021-02-28
2021-03-07
2021-03-14
2021-03-21
2021-03-28
2021-04-04
2021-04-11
2021-04-18
2021-04-25
2021-05-02
2021-05-09
2021-05-16
2021-05-23
2021-05-30
2021-06-06
2021-06-13
2021-06-20
2021-06-27
2021-07-04
2021-07-11
2021-07-18
2021-07-25
2021-08-01
2021-08-08
2021-08-15
2021-08-22
2021-08-29
2021-09-05
2021-09-12
2021-09-19
2021-09-26
2021-10-03
2021-10-10
2021-10-17
2021-10-24
2021-10-31
2021-11-07
2021-11-14
2021-11-21
2021-11-28
2021-12-05
2021-12-12
2021-12-19
2021-12-26

(3) Python files reading and writing. Download the “[exercise_02_data _collection.zip](https://github.com/unt-iialab/info5731_spring2021/blob/main/class_exercises/exercise_02_data_collection.zip)” to your local and un-zip it.

*   Write a program to read all the txt files and save the sentences in all the files into one csv file with two columns, the first column is sentence id (txt file name+sentence line number), the second column is the sentence text content. (4 points)
*   Remove all the punctuations from the sentences, save the processed sentences into a new column in the same csv file. (4 points)
*   Ask the user to enter a word, return all the sentences that include this word, three kinds of information should be returned: sentence id, sentence text content, the count that user input word appear in the sentence. (4 points)

In [3]:
from google.colab import files
uploaded = files.upload()

Saving ARTHROTEC.1.txt to ARTHROTEC.1.txt
Saving ARTHROTEC.2.txt to ARTHROTEC.2.txt
Saving ARTHROTEC.3.txt to ARTHROTEC.3.txt
Saving ARTHROTEC.4.txt to ARTHROTEC.4.txt
Saving ARTHROTEC.5.txt to ARTHROTEC.5.txt
Saving ARTHROTEC.6.txt to ARTHROTEC.6.txt
Saving ARTHROTEC.7.txt to ARTHROTEC.7.txt
Saving ARTHROTEC.8.txt to ARTHROTEC.8.txt
Saving ARTHROTEC.9.txt to ARTHROTEC.9.txt
Saving ARTHROTEC.10.txt to ARTHROTEC.10.txt
Saving ARTHROTEC.11.txt to ARTHROTEC.11.txt
Saving ARTHROTEC.12.txt to ARTHROTEC.12.txt
Saving ARTHROTEC.13.txt to ARTHROTEC.13.txt
Saving ARTHROTEC.14.txt to ARTHROTEC.14.txt
Saving ARTHROTEC.15.txt to ARTHROTEC.15.txt
Saving ARTHROTEC.16.txt to ARTHROTEC.16.txt
Saving ARTHROTEC.17.txt to ARTHROTEC.17.txt
Saving ARTHROTEC.18.txt to ARTHROTEC.18.txt
Saving ARTHROTEC.19.txt to ARTHROTEC.19.txt
Saving ARTHROTEC.20.txt to ARTHROTEC.20.txt
Saving ARTHROTEC.21.txt to ARTHROTEC.21.txt
Saving ARTHROTEC.22.txt to ARTHROTEC.22.txt
Saving ARTHROTEC.23.txt to ARTHROTEC.23.txt
Saving ARTHROTEC.24.txt to ARTHROTEC.24.txt
Saving ARTHROTEC.25.txt to ARTHROTEC.25.txt
Saving ARTHROTEC.26.txt to ARTHROTEC.26.txt
Saving ARTHROTEC.27.txt to ARTHROTEC.27.txt
Saving ARTHROTEC.28.txt to ARTHROTEC.28.txt
Saving ARTHROTEC.29.txt to ARTHROTEC.29.txt
Saving ARTHROTEC.30.txt to ARTHROTEC.30.txt
Saving ARTHROTEC.31.txt to ARTHROTEC.31.txt
Saving ARTHROTEC.32.txt to ARTHROTEC.32.txt
Saving ARTHROTEC.33.txt to ARTHROTEC.33.txt
Saving ARTHROTEC.34.txt to ARTHROTEC.34.txt
Saving ARTHROTEC.35.txt to ARTHROTEC.35.txt
Saving ARTHROTEC.36.txt to ARTHROTEC.36.txt
Saving ARTHROTEC.37.txt to ARTHROTEC.37.txt
Saving ARTHROTEC.38.txt to ARTHROTEC.38.txt
Saving ARTHROTEC.39.txt to ARTHROTEC.39.txt
Saving ARTHROTEC.40.txt to ARTHROTEC.40.txt
Saving ARTHROTEC.41.txt to ARTHROTEC.41.txt
Saving ARTHROTEC.42.txt to ARTHROTEC.42.txt
Saving ARTHROTEC.43.txt to ARTHROTEC.43.txt
Saving ARTHROTEC.44.txt to ARTHROTEC.44.txt
Saving ARTHROTEC.45.txt to ARTHROTEC.45.txt
Saving ARTHROTEC.46.txt to ARTHROTEC.46.txt
Saving ARTHROTEC.47.txt to ARTHROTEC.47.txt
Saving ARTHROTEC.48.txt to ARTHROTEC.48.txt
Saving ARTHROTEC.49.txt to ARTHROTEC.49.txt
Saving ARTHROTEC.50.txt to ARTHROTEC.50.txt
Saving ARTHROTEC.51.txt to ARTHROTEC.51.txt
Saving ARTHROTEC.52.txt to ARTHROTEC.52.txt
Saving ARTHROTEC.53.txt to ARTHROTEC.53.txt
Saving ARTHROTEC.54.txt to ARTHROTEC.54.txt
Saving ARTHROTEC.55.txt to ARTHROTEC.55.txt
Saving ARTHROTEC.56.txt to ARTHROTEC.56.txt
Saving ARTHROTEC.57.txt to ARTHROTEC.57.txt
Saving ARTHROTEC.58.txt to ARTHROTEC.58.txt
Saving ARTHROTEC.59.txt to ARTHROTEC.59.txt
Saving ARTHROTEC.60.txt to ARTHROTEC.60.txt
Saving ARTHROTEC.61.txt to ARTHROTEC.61.txt
Saving ARTHROTEC.62.txt to ARTHROTEC.62.txt
Saving ARTHROTEC.63.txt to ARTHROTEC.63.txt
Saving ARTHROTEC.64.txt to ARTHROTEC.64.txt
Saving ARTHROTEC.65.txt to ARTHROTEC.65.txt
Saving ARTHROTEC.66.txt to ARTHROTEC.66.txt
Saving ARTHROTEC.67.txt to ARTHROTEC.67.txt
Saving ARTHROTEC.68.txt to ARTHROTEC.68.txt
Saving ARTHROTEC.69.txt to ARTHROTEC.69.txt
Saving ARTHROTEC.70.txt to ARTHROTEC.70.txt
Saving ARTHROTEC.71.txt to ARTHROTEC.71.txt
Saving ARTHROTEC.72.txt to ARTHROTEC.72.txt
Saving ARTHROTEC.73.txt to ARTHROTEC.73.txt
Saving ARTHROTEC.74.txt to ARTHROTEC.74.txt
Saving ARTHROTEC.75.txt to ARTHROTEC.75.txt
Saving ARTHROTEC.76.txt to ARTHROTEC.76.txt
Saving ARTHROTEC.77.txt to ARTHROTEC.77.txt
Saving ARTHROTEC.78.txt to ARTHROTEC.78.txt
Saving ARTHROTEC.79.txt to ARTHROTEC.79.txt
Saving ARTHROTEC.80.txt to ARTHROTEC.80.txt
Saving ARTHROTEC.81.txt to ARTHROTEC.81.txt
Saving ARTHROTEC.82.txt to ARTHROTEC.82.txt
Saving ARTHROTEC.83.txt to ARTHROTEC.83.txt
Saving ARTHROTEC.84.txt to ARTHROTEC.84.txt
Saving ARTHROTEC.85.txt to ARTHROTEC.85.txt
Saving ARTHROTEC.86.txt to ARTHROTEC.86.txt
Saving ARTHROTEC.87.txt to ARTHROTEC.87.txt
Saving ARTHROTEC.88.txt to ARTHROTEC.88.txt
Saving ARTHROTEC.89.txt to ARTHROTEC.89.txt
Saving ARTHROTEC.90.txt to ARTHROTEC.90.txt
Saving ARTHROTEC.91.txt to ARTHROTEC.91.txt
Saving ARTHROTEC.92.txt to ARTHROTEC.92.txt
Saving ARTHROTEC.93.txt to ARTHROTEC.93.txt
Saving ARTHROTEC.94.txt to ARTHROTEC.94.txt
Saving ARTHROTEC.95.txt to ARTHROTEC.95.txt
Saving ARTHROTEC.96.txt to ARTHROTEC.96.txt
Saving ARTHROTEC.97.txt to ARTHROTEC.97.txt
Saving ARTHROTEC.98.txt to ARTHROTEC.98.txt
Saving ARTHROTEC.99.txt to ARTHROTEC.99.txt
Saving ARTHROTEC.100.txt to ARTHROTEC.100.txt

In [6]:
import pandas as pd
sentence_id = []
sentence = []
for files in uploaded:
  with open(files, 'r') as file:
    content = file.read()
    split_content = content.splitlines()
    for line_number in range(len(split_content)):
      sentence_id.append(files + '_' +str(line_number))
      sentence.append(split_content[line_number])
df = pd.DataFrame(list(zip(sentence_id, sentence)), 
               columns =['Sentence ID', 'Sentence'])
df.to_csv('output_file.csv', index = False)

import string
df['After Punctuation Removal'] = df['Sentence'].apply(lambda x:''.join([i for i in x 
                                                  if i not in string.punctuation]))
df.to_csv('output_file.csv', index = False)
df

             Sentence ID  ...                          After Punctuation Removal
0      ARTHROTEC.1.txt_0  ...  I feel a bit drowsy  have a little blurred vis...
1      ARTHROTEC.1.txt_1  ...  Ive been on Arthrotec 50 for over 10 years on ...
2      ARTHROTEC.1.txt_2  ...  Due to my arthritis getting progressively wors...
3      ARTHROTEC.1.txt_3  ...  every day for the next month to see how I get ...
4      ARTHROTEC.1.txt_4  ...  So far its been very good pains almost gone bu...
..                   ...  ...                                                ...
530  ARTHROTEC.100.txt_3  ...                           canker sores in my mouth
531  ARTHROTEC.100.txt_4  ...                                           headache
532  ARTHROTEC.100.txt_5  ...            been off for 1 week still have bleeding
533  ARTHROTEC.100.txt_6  ...                               helped my pain alot
534  ARTHROTEC.100.txt_7  ...                 too scared to take this drug again

[535 rows x 3 columns]

In [8]:
word_2_search = input("Please enter word to search : ")
result_df =df[df['Sentence'].str.contains(word_2_search,na=False)]
final_df = result_df[['Sentence ID', 'Sentence']]
final_df['Count of Occurance'] = df['Sentence'].apply(lambda x: x.count(word_2_search))
final_df

Please enter word to search : sleep

            Sentence ID  ... Count of Occurance
9     ARTHROTEC.3.txt_1  ...                  1
14    ARTHROTEC.3.txt_6  ...                  1
42    ARTHROTEC.8.txt_2  ...                  1
44    ARTHROTEC.9.txt_0  ...                  1
134  ARTHROTEC.24.txt_2  ...                  1
152  ARTHROTEC.27.txt_2  ...                  1
269  ARTHROTEC.47.txt_0  ...                  1
337  ARTHROTEC.61.txt_2  ...                  1
455  ARTHROTEC.85.txt_3  ...                  1
526  ARTHROTEC.99.txt_5  ...                  1

[10 rows x 3 columns]

(4) Install packages nltk, numpy, scipy, pandas, and sklearn on Google Colab. Write a program to test whether they are installed successfully. (3 points for extra)

In [ ]:
!pip install nltk
print("NEXT PACKAGE")
!pip install numpy
print("NEXT PACKAGE")
!pip install scipy
print("NEXT PACKAGE")
!pip install pandas
print("NEXT PACKAGE")
!pip install sklearn

import nltk as nl
import numpy as np
import scipy as sc
import pandas as pd
import sklearn as sk

print("Installed nltk Version is :",nl.__version__)
print("Installed numpy Version is :",np.__version__)
print("Installed scipy Version is :",sc.__version__)
print("Installed pandas Version is :",pd.__version__)
print("Installed sklearn Version is :",sk.__version__)

Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk) (1.15.0)
NEXT PACKAGE
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.19.5)
NEXT PACKAGE
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scipy) (1.19.5)
NEXT PACKAGE
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
NEXT PACKAGE
Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.0.0)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn) (1.4.1)
Installed nltk Version is : 3.2.5
Installed numpy Version is : 1.19.5
Installed scipy Version is : 1.4.1
Installed pandas Version is : 1.1.5
Installed sklearn Version is : 0.22.2.post1