<a href="https://colab.research.google.com/github/nithin24011/Nithin_INFO5731_Spring2020/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (1/19/2021, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [ ]:
def string_length(str1):
    count = 0
    for char in str1:
        count += 1
    return count
s = input("Enter your string: ") 
print('Entered String is : ',s) 
print('Length of String is : ',string_length(s))

Enter your string: Earth
Entered String is :  Earth
Length of String is :  5

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
s_str = input("Enter your string: ") 
  

all_freq = {} 
  
for i in s_str: 
    if i in all_freq: 
        all_freq[i] += 1
    else: 
        all_freq[i] = 1
   
print ("Count of all characters in the string is :\n "
                                        +  str(all_freq))

Enter your string: google.com
Count of all characters in the string is :
 {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [ ]:
list1 = [] 
  
# number of elemetns as input 
n = int(input("Enter number of elements : ")) 
  
# iterating till the range 
for i in range(0, n): 
    ele = int(input()) 
  6
    list1.append(ele)  
      
print(list1)

total = sum(list1)
 
print("Sum of all elements in given list: ", total)

Enter number of elements : 5
5
9
7
66
87
[5, 9, 7, 66, 87]
Sum of all elements in given list:  174

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
s = input("Enter your string: ") 

def change_char(s):
  char = s[0]
  s = s.replace(char, '$')
  s = char + s[1:]

  return s

print(change_char(s))

Enter your string: restart
resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [ ]:
a = int(input("Enter 'a' value: "))
b = int(input("Enter 'b' Value: "))

s = 3.14*(1+a/b)**3

print(s)

Enter 'a' value: 2
Enter 'b' Value: 3
14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [16]:
dict1={1:10, 2:20}
dict2={3:30, 4:40}
dict3={5:50,6:60}
# Merge contents of dict3, dict2 and dict1 to dict4
dict4 = {**dict1, **dict2, **dict3}
print('Dictionary 3 :')
print(dict4)

Dictionary 3 :
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [29]:
test_tup = (10, 4, 5, 6, 8)  
print("The original tuple is : " + str(test_tup))
N = int(input("Enter element to be searched : "))
res = False 
for ele in test_tup : 
    if N == ele : 
        res = True
        break
print("Does tuple contain required value ? : " + str(res))

The original tuple is : (10, 4, 5, 6, 8)
Enter element to be searched : 10
Does tuple contain required value ? : True

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [30]:
def MAX(sets): 
    return (max(sets)) 
      
# Driver Code 
sets = set([85, 1, 204, 11, 525, 74, 17, 33, 97]) 
print("Maximum of the set is :",MAX(sets))

def MIN(sets):
  return(min(sets))
print("Minimum of the set is :",MIN(sets))

Maximum of the set is : 525
Minimum of the set is : 1

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [31]:
from itertools import islice
from random import randint
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
def random_list(studnet_list, mingroup=3, maxgroup=5):
    iter_ = iter(studnet_list)
    while True:
        next = list(islice(iter_,randint(mingroup,maxgroup)))
        if next:
            yield next
        else:
            break
list(random_list(studnet_list))

[['vmb0067', 'pc0353', 'snd0097'],
 ['yye0005', 'sg0940', 'bk0301'],
 ['rak0120', 'rrk0058', 'spk0057', 'vl0135'],
 ['nm0547', 'pn0159', 'msp0174'],
 ['dd0420', 'ds0761', 'rs0850'],
 ['ss1995', 'at0739', 'at0768'],
 ['mv0299', 'tv0119', 'dy0091']]