<a href="https://colab.research.google.com/github/nithin24011/Nithin_INFO5731_Spring2020/blob/main/In_class_exercise_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third In-class-exercise (9/16/2020, 20 points in total)

The purpose of this exercise is to under users' information needs, then collect the data for analysis.

Question 1 (8 points): Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:

Research Topic:
                Project Euler: Project Euler is a series of challenging mathematical/computer programming problems 
                that will require more than just mathematical insights to solve. Although mathematics will help you 
                arrive at elegant and efficient methods, the use of a computer and programming skills will be required
                to solve most problems.
  
  Questions:
             1. find 10 most solved beginner programs ?
             2. find 10 least solved advanced programs?


In Project Euler, there are 715 questions and we need to compile all of them to find the answers to the above questions.
To answer the questions, we use 'solved by' function as a number of persons able to solve the particular problem would inform us what degree of complexity these problems are in.

Steps to Collect and Save the Data:
   Step 1: import Pandas for creating a data frame.
   Step 2: import requests for saving the page in a variable from the URL.
   Step 3: From bs4 import BeautifulSoup to parse the content present in page 
   Step 4: Create Required lists for saving data for the data frame and transformations.
   Step 5: Use loops to append data into the arrays
   Step 6: Create a Data Frame using pandas
   Step 7: Download the Data Frame to csv format.


'''

Question 2 (12 points): Write python code to collect 500 items of the data you plan to collect above.

In [24]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
Id = []
Id_List = [ ]
tableRow = [ ]
Description = []
Description_List = [ ]
Solved_By = []
Solved_By_List = [ ]
for i in range(1,16):
 page = requests.get('https://projecteuler.net/archives;page='+ str (i))
 soup = BeautifulSoup(page.content,'html.parser')
 Id.append(soup.find_all('td',class_="id_column"))
 tableRow.append(soup.find_all('tr')) #for loop till
 Solved_By.append(soup.find_all('div',class_="center"))
for item in Id:
  for i in range(len(item)):
    Id_List.append(int (item[i].get_text()))
for item in tableRow:
  for i in range(len(item)):
    Description.append(item[i].find('a'))
for item in Solved_By:
  for i in range(len(item)):
    Solved_By_List.append(int (item[i].get_text())) 
Description = list(filter(None.__ne__, Description))
for item in Description:
  Description_List.append(item.get_text())
df= pd.DataFrame({'Id':Id_List,'Description': Description_List,'Solved_By':Solved_By_List})
df.to_csv('Euler.csv', index= False)
df.head(5)

   Id                 Description  Solved_By
0   1        Multiples of 3 and 5     965879
1   2      Even Fibonacci numbers     769337
2   3        Largest prime factor     552085
3   4  Largest palindrome product     487939
4   5           Smallest multiple     491450

In [25]:
df = df.sort_values('Solved_By',ascending= False) # sorting in descending order
print("Top 10 Beginner problems:\n\n",df.head(10)) #top 10 Beginner Level Problems for coders
print('\n')
#Answers for Questions 2

df = df.sort_values('Solved_By',ascending= True) # sorting in ascending order
print("Top 10 Advanced problems:\n\n",df.head(10)) #top 10 Advanced Level Problems for coders

Top 10 Beginner problems:

    Id                  Description  Solved_By
0   1         Multiples of 3 and 5     965879
1   2       Even Fibonacci numbers     769337
2   3         Largest prime factor     552085
5   6        Sum square difference     494484
4   5            Smallest multiple     491450
3   4   Largest palindrome product     487939
6   7                10001st prime     422787
8   9  Special Pythagorean triplet     358849
7   8  Largest product in a series     353548
9  10          Summation of primes     328513


Top 10 Advanced problems:

       Id                      Description  Solved_By
695  696                          Mahjong        121
701  702                     Jumping Flea        123
728  729       Range of periodic sequence        124
729  730      Shifted Pythagorean Triples        129
578  579  Lattice points in lattice cubes        134
734  735               Divisors of $2n^2$        137
643  644              Squares on the line        137
565  566                Cake Icing Puzzle        137
596  597                          Torpids        139
670  671                 Colouring a Loop        141