<a href="https://colab.research.google.com/github/nithin24011/Nithin_INFO5731_Spring2020/blob/main/INFO5731_Assignment_One_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# Your code here
import random
random_list = random.sample(range(100), 12)
random_list

[49, 78, 27, 6, 30, 87, 79, 24, 62, 71, 19, 60]

In [ ]:
random_list.sort()
print ('Random list in ascending order is:', random_list)

Random list in ascending order is: [6, 19, 24, 27, 30, 49, 60, 62, 71, 78, 79, 87]

In [ ]:
random_list.sort(reverse=True)
print ('Random list in descending order order is:', random_list)

Random list in descending order order is: [87, 79, 78, 71, 62, 60, 49, 30, 27, 24, 19, 6]

In [ ]:
average = sum(random_list) / len(random_list)

print('The average of numbers in list is:', average)

The average of numbers in list is: 49.333333333333336

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
# Your code here
sentence1=input("Enter the first sentence:\n ")
sentence2=input("Enter the second sentence:\n ")

Enter the first sentence:
 Alas! Am I alive? This is my first python program
Enter the second sentence:
 this is nithin I am a pro at python programming

In [ ]:
import re
reg_exp = r"[0-9a-zA-Z_]+|\$[\d\.]+|\S+"
sen1=re.findall(reg_exp,sentence1)
sen2=re.findall(reg_exp,sentence2)
list_final=sen1+sen2
print("The list where each element correspond to a word in the sentence:")
print(list_final)
print("The list of words that occur in both sentences are:")
for ch in sen1:
  for ch2 in sen2:
    if ch==ch2:
      print(ch)

The list where each element correspond to a word in the sentence:
['Alas', '!', 'Am', 'I', 'alive', '?', 'This', 'is', 'my', 'first', 'python', 'program', 'this', 'is', 'nithin', 'I', 'am', 'a', 'pro', 'at', 'python', 'programming']
The list of words that occur in both sentences are:
I
is
python

In [ ]:

for ch in sen1:
  for ch2 in sen2:
    if ch==ch2:
      print(ch)

I
is
python

In [ ]:
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
sen1_new = ""
sen2_new = ""
for char in sentence1:
  if char not in punctuations:
    sen1_new = sen1_new + char
print(sen1_new)

for char1 in sentence2:
  if char1 not in punctuations:
    sen2_new = sen2_new + char1
print(sen2_new)

Alas Am I alive This is my first python program
this is nithin I am a pro at python programming

In [ ]:
sentence1=sentence1.lower()
sentence2=sentence2.lower()
vowel_counts = {}

for i in "aeiou":
  count=sentence1.count(i)
  count1=sentence2.count(i)
  vowel_counts[i]=count+count1
vowel_counts

{'a': 9, 'e': 1, 'i': 11, 'o': 5, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
# Your code here

import math
def sphere_volume(r):
  return (4/3*math.pi*r**3)
print ('r     V')
for r in range(11):
  print (str(r) +"    " + str(sphere_volume(r)))
  print("\n")

r     V
0    0.0


1    4.1887902047863905


2    33.510321638291124


3    113.09733552923254


4    268.082573106329


5    523.5987755982989


6    904.7786842338603


7    1436.7550402417319


8    2144.660584850632


9    3053.6280592892786


10    4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/info5731_spring2021/blob/main/assignment/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
# Your code here

import pandas as pd
url = 'https://raw.githubusercontent.com/unt-iialab/info5731_spring2021/main/assignment/Assignment1_denton_housing.csv'
df = pd.read_csv(url, error_bad_lines=False)

In [ ]:
df.sort_index(axis=0,ascending=True,inplace=True)
df2=df[df.title_field=="Occupied Housing Units"].sort_index(axis=0,ascending=True)
df2=df2.reset_index()
df2
df1 = df2.sort_values(by = ['year'],ascending =True)
df1

   index  year             title_field  value
6     20  2008  Occupied Housing Units  36711
5     17  2009  Occupied Housing Units  35916
4     14  2010  Occupied Housing Units  41007
3     11  2011  Occupied Housing Units  40704
2      8  2012  Occupied Housing Units  42108
1      5  2013  Occupied Housing Units  43673
0      2  2014  Occupied Housing Units  46295

In [ ]:
result = df1['value'].diff()
result

result.sort_values(ascending= True)

5    -795.0
3    -303.0
2    1404.0
1    1565.0
0    2622.0
4    5091.0
6       NaN
Name: value, dtype: float64

In [ ]:
df.reset_index(inplace=True)
occupied_list=[]
vacant_list=[]
for i in range(2008,2015):
  occupied_list.append((df[(df["year"]==i) & (df["title_field"]=="Occupied Housing Units")].value.values)/(df[(df["year"]==i) & (df["title_field"]=="Total Housing Units")].value.values))
  vacant_list.append((df[(df["year"]==i) & (df["title_field"]=="Vacant Housing Units")].value.values)/(df[(df["year"]==i) & (df["title_field"]=="Total Housing Units")].value.values))

In [ ]:
print("Year \t Vacant\t Occupied")
for i in range(2008,2015):
  print(i,"\t",np.round(vacant_list[i-2008][0]*100,2),"\t",np.round(occupied_list[i-2008][0]*100,2))

Year 	 Vacant	 Occupied
2008 	 10.88 	 89.12
2009 	 9.07 	 90.93
2010 	 8.14 	 91.86
2011 	 9.38 	 90.62
2012 	 6.68 	 93.32
2013 	 8.8 	 91.2
2014 	 5.73 	 94.27

In [ ]:
xy=[]
yz=[]
for i in range(2008,2015):
  xy.append(occupied_list[i-2008][0])
  yz.append(vacant_list[i-2008][0])
  print("\t\t\t year\t value")
for i in enumerate(occupied_list,start=2008):
  if(i[1][0]==max(xy)):
    #print(i[0])
    print("Occupied Housing Units \t",i[0],"\t",(df[(df.year==i[0])&(df.title_field=="Occupied Housing Units")].value.values)[0])
    break
for i in enumerate(vacant_list,start=2008):
  if(i[1][0]==max(yz)):
    #print(i[0])
    print("Vacant Housing Units \t",i[0],"\t",(df[(df.year==i[0])&(df.title_field=="Vacant Housing Units")].value.values)[0])
    break

			 year	 value
			 year	 value
			 year	 value
			 year	 value
			 year	 value
			 year	 value
			 year	 value
Occupied Housing Units 	 2014 	 46295
Vacant Housing Units 	 2008 	 4483

In [ ]:
!pip install scipy

Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scipy) (1.19.5)

In [ ]:
import statistics

all_elements = df.loc[df['title_field'] == 'Total Housing Units', 'value'].values
#print (total_elements)

statistics.harmonic_mean(all_elements)

44398.28543969185